


<footer class="footer-extended">
    <div class="footer-top">
      <div class="footer-column">
        <h4>Get Help</h4>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">How to buy</a></li>
          <li><a href="#">Self-Service Tools</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Company</h4>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Corporate Responsibility</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">News Center</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">My CommScope</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Training</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Featured Brands</h4>
        <ul>
          <li><a href="#">SYSTIMAX®</a></li>
          <li><a href="#">Prodigy®</a></li>
          <li><a href="#">Propel™</a></li>
          <li><a href="#">RUCKUS®</a></li>
        </ul>
      </div>
    </div>
  
    <hr class="footer-line" />
  
    <div class="footer-bottom">
      <p> 2025 Splicing all Rights Reserved</p>
      <div class="footer-links">
        <a href="#">Accessibility</a>
        <a href="#">Supplier Responsibility</a>
        <a href="#">Ethics</a>
        <a href="#">Privacy & Cookies</a>
        <a href="#">Do Not Sell My Info</a>
        <a href="#">Terms</a>
        <a href="#">Trademarks</a>
        <a href="#">Sitemap</a>
      </div>
      <div class="footer-social">
        <!-- Puedes reemplazar con íconos reales (Font Awesome, SVG, etc.) -->
        <a href="#">in</a>
        <a href="#">f</a>
        <a href="#">X</a>
        <a href="#">📷</a>
        <a href="#">▶</a>
      </div>
    </div>
  </footer>