
<div class="card-container">
    <div class="card">
      <img src="asset/Imagenes/Carrusel/Grafan.jpg" class="card-img-top" alt="Logo 1">
      <div class="card-body">
        <p class="card-text">En un entorno donde la información en tiempo real marca la diferencia, nuestras soluciones de monitoreo permiten supervisar, analizar y optimizar cada proceso de su operación.
                             A través de sistemas inteligentes y plataformas personalizadas..</p>
        <button class="card-button">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <img src="asset/Imagenes/Carrusel/Imagen4.jpg" class="card-img-top" alt="Logo 2">
      <div class="card-body">
        <p class="card-text">Somos Splicing, una empresa de tecnología, desarrollo y telecomunicaciones dedicada a ofrecer soluciones innovadoras que impulsan la conectividad y el crecimiento digital...</p>
        <button class="card-button">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <img src="asset/Imagenes/Carrusel/Torres.jpg" class="card-img-top" alt="Logo 3">
      <div class="card-body">
        <p class="card-text">Ofrecemos servicios integrales de telecomunicaciones, incluyendo diseño, implementación y mantenimiento de infraestructuras de red. Garantizamos conectividad eficiente y segura, adaptándonos a las necesidades de cada empresa para impulsar su crecimiento digital..</p>
        <button class="card-button">Ver más</button>
      </div>
    </div>
  </div>

<!--Imagenes fijas-->

<div class="brand">

<img src="asset/Imagenes/Carrusel/Imagen8.jpg" class="img-fluid" alt="Logo de la empresa">


</div>

<div class="video_animacion">

<img src="asset/Imagenes/Carrusel/Solar.jpg" class="img-fluid" alt="Logo de la empresa">

</div>
  

  