*{
margin:0;
padding: 0;
box-sizing: border-box;

}


body {
  font-family: 'Arial', 'Helvetica', sans-serif; /* fuente estándar */
  font-size: 16px; /* tamaño base */
  color: #333; /* color de texto predeterminado */
  line-height: 1.5; /* altura de línea para mejor legibilidad */


/* Fondo de imagen */
  /* background-image: url('/asset/Imagenes/Carrusel/fondo.jpg'); ruta desde src/assets */
  background-size: cover;       /* cubre todo el fondo */
  background-position: center;  /* centra la imagen */
  background-repeat: no-repeat; /* evita repetición */
  background-attachment: fixed; /* opcional: fondo fijo al hacer scroll */
  height: 100vh;                /* asegura que ocupe toda la pantalla */
 

}